################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/State Pattern/Codigo/State Pattern Kata/State Pattern Kata App/obj
/State Pattern/Codigo/State Pattern Kata/.vs/State Pattern Kata
/State Pattern/Codigo/State Pattern Kata/State Pattern Kata App/bin/Debug/netcoreapp3.0
